.label {
  font-family: 'Oxanium', cursive;
  font-weight: bold;
}

.damage-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.healthBar {
  width: 104px;
  margin-right: 22px;
  display: flex;
  justify-content: space-between;
}

.healthPoint {
  width: 20px;
  height: 20px;
  background-color: #8a7062;
  border-radius: 20px;
}

.damege {
  background-color: #b22121;
}

.button {
  margin: 0 10px;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
}
